body
{
    background-color: #ffffcc;
}

section article #logIn
{
    position: fixed;
    top: 300px;
    left: 500px;
    width: 400px;
    height: 200px;
    
    background-color: lightgray;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    
}

section article #logIn form
{
    padding: 10px;
}

section article #logIn form span
{
    font-family: "Bernard MT Condensed";
    font-size: 25px;
    color: #990000;   
}

section article #registration
{
    position: fixed;
    top: 525px;
    left: 500px;
    color: #990000;
    font-style: italic;
    font-size: 25px;
}

section article h1
{
    position: fixed;
    top: 90px;
    left: 500px;
    font-family: "Bernard MT Condensed";
    color: #990000;
    font-size: 50px;
}

section article h2
{
    position: fixed;
    top: 180px;
    left: 550px;
    font-family: "Bernard MT Condensed";
    color: dimgray;
    font-style: italic;
}

footer
{
    position: fixed;
    top: 600px;
    left: 550px;
}
